@font-face {
  font-family: kirk-font;
  src: url(./assets/fonts/k-font-regular.otf) format('opentype');
  font-style: normal;
  font-weight: 400;
}
// @font-face {
//   font-family: kirk-font;
//   src: url(../../assets/fonts/k-font-medium.woff) format('woff');
//   font-style: normal;
//   font-weight: 600;
// }
// @font-face {
//   font-family: kirk-font;
//   src: url(../../assets/fonts/k-font-bold.woff) format('woff');
//   font-style: normal;
//   font-weight: 700;
// }