@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.ratzone-container {
  // display: flex;
  // justify-content: space-between;
  height: calc(100vh - (3.5rem));
  flex-direction: column;
  @include tablet {
    height: calc(100vh - (7rem + 3.5rem + 5rem));
    // flex-direction: row;
  }
  &__logo {
    display: flex;
    justify-content: center;
    height: 5rem;
    gap: 1rem;
  }
  &__full-width-map {
    width: 100%;
    height: 50%;
    @include tablet {
      background-image: url("../../assets/map-placeholder.jpg");
      width: 100%;
      height: 100%;
    }
  }
}
.ratzone-footer {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  &__btn {
    background-color: #0058a9;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    // width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      width: 20rem;
    }
    &:hover {
      background-color: #056ed1;
    }
    &--radar-on {
      background-color: $rat-alert;
      &:hover {
        background-color: $rat-alert;
      }
    }
    &--drop {
      background-color: rgb(61, 182, 61);
      &:hover {
        background-color: rgb(116, 204, 116);
        color: $rat-black;
      }
    }
  }
  &__detail {
    font-size: 0.8rem;
    font-weight: 700;
    color: rgb(231, 172, 172);
  }
}
