@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.store-list {
  &__table-head {
    border-bottom: solid rgb(192, 192, 192) 1px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: $rat-light;
    padding-top: 1rem;
    width: 100%;
    @include tablet {
      width: calc(30% - 0.5rem);
    }
    &-left-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__title {
    padding-bottom: 0.5rem;
  }
  &__sort {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    font-size: 0.75rem;
    padding: 0.25rem 0;
    @include tablet {
      // padding-bottom: 1rem;
    }
    &-item {
      text-decoration: none;
      color: grey;
      padding: 0.5rem;
      &:hover {
        color: #0058a9;
      }
      &--active {
        color: $rat-black;
        font-weight: 600;
        background-color: #f1ebd4;
        border: solid rgb(192, 192, 192) 1px;
        border-radius: 0.5rem;
      }
    }
  }
  &__mobile-logo {
    height: 4.5rem;
    @include tablet {
      display: none;
    }
  }
  &__results {
    padding-top: 6rem;
  }
}
