@use "../../styles/partials/variables.scss" as *;

.store-details {
  position: absolute;
  background-color: $rat-light;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 0.5rem;
  width: 90vw;
  height: 75vh;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  padding: 2rem 4rem 0;
  overflow: auto;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__grade-img {
    height: 6rem;
  }
  &__violations {
    height: 80%;
    overflow-y: scroll;
    &-list {
      padding: 1rem 2rem;
      &-item {
        padding: 0.25rem 0;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
}
