.map {
  height: 100%;
  &__store {
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    &:hover {
      background-color: #7294dc;
      color: white;
    }
  }
  &__grade {
    border-radius: 10%;
  }
  &__business-name {
    font-weight: 300;
  }
}
