.card {
  display: flex;
  justify-content: space-between;
  gap: .75rem;
  padding-bottom: 1rem;
  
  
  
  
  &__store-name {
    font-size: 1.2rem;
  }
  &__grade {
    background-color: white;
    padding: .5rem 0.25rem;
    &-img {
    width: 3rem;
    }
  }
}
