@use "../../styles/partials/variables.scss" as *;

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  padding-bottom: 1rem;
  background-color: none;
  transition: background-color 1s;
  // border-radius: 0.75rem;
  border-bottom: solid $rat-hover 1px;
  &:hover {
    background-color: #fdf8e3;
  }

  &__link {
    text-decoration: none;
    color: $rat-black;
    &:visited {
      color: $rat-black;
    }
    &:hover {
      color: $rat-hover;
    }
  }
  &__details {
  }

  &__store {
    &-name {
      font-size: 1.2rem;
      font-weight: 600;
    }
    &-address {
      font-weight: 300;
      font-size: 1rem;
    }
    &-alerts {
      font-weight: 700;
      color: $rat-alert;
    }
  }
  &__grade {
    background-color: white;
    padding: 0.5rem 0.25rem;
    border-radius: 0.75rem;
    max-height: 4rem;
    &-img {
      height: 3rem;
    }
  }
}
