@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.main-container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - (3.5rem));
  flex-direction: column;
  @include tablet {
    height: calc(100vh - (7rem + 3.5rem));
    flex-direction: row;
  }
  &__left {
    background-color: $rat-light;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    height: 50%;
    order: 1;
    border-top: solid rgb(192, 192, 192) 8px;
    @include tablet {
      border-top: none;
      width: 30%;
      order: 0;
      height: 100%;
    }
  }
  &__right {
    width: 100%;
    height: 50%;
    @include tablet {
      width: 70%;
      height: 100%;
    }
  }
  &__loading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
