@use "../../styles/partials/variables.scss" as *;

.main-container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - (7rem + 3.5rem));
  &__left {
    background-color: $rat-light;
    width: 30%;
    height: fill;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
  }
  &__right {
    background-image: url("../../assets/map-placeholder.jpg");
    width: 70%;
  }
}
